<div class="jumbotron">
    <h1>Developer Practice 01</h1>
    <h3>Technology Used</h3>
    <p class="lead">
        Entity Framework and .Net Framework version-4.6.
    </p> 
    <h3>Summary</h3>
    <p>
        This Api is build with the help of scafolding features of .Net MVC 5 for The Restful function 
        for the backend database is MSSQL 2014 and Ado.net And Entity Framework.
    </p>
    <p>
        Build upon the idea of creating an iteration of one of the test I have encountered using  Node.JS
        ExpressJS and Mysql for backend database, the goal is develop a restful api and plan to enhance my 
        DATA First coding style and expand the app develop it with more features like asyncronous programming,
        add some unit test using Xcode,add stored procedure and views and lastly to study routing.

   </p>
</div>

